{% extends '_base.html' %}
{% load django_tables2 %}
{% load crispy_forms_tags %}
{% block title %}Entities{% endblock %}


{% block content %}
    <span class="h3">Entities </span>
    <div class="row justify-content-center">
        <div class="col-4">
            <form action="">
                <div class="p-3 border border-light rounded-pill bg-light">
                    <div class="input-group border-0 shadow-none">
                        <input name="search-id" type="text" class="form-control border-light rounded-pill"
                               placeholder="Search entities by id"/>
                        <span class="input-group-btn">
                                        <button class="btn btn-info btn-lg bg-light border-light" type="submit"
                                                value="search">
                                            <i class="bi-search"></i>
                                        </button>
                                        </span>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-4">
            <form action="">
                <div class="p-3 border border-light rounded-pill bg-light">
                    <div class="input-group border-0 shadow-none">
                        <input name="search-type" type="text" class="form-control border-light rounded-pill"
                               placeholder="Search entities by type"/>
                        <span class="input-group-btn">
                                        <button class="btn btn-info btn-lg bg-light border-light" type="submit"
                                                value="search">
                                            <i class="bi-search"></i>
                                        </button>
                                        </span>
                    </div>
                </div>
            </form>
        </div>
    </div>


    <form action="" method="POST">
        <a href="{% url "projects:entities:create" project_id=project.uuid %}" class="btn btn-primary mb-1 ms-auto"
           data-toggle="tooltip" data-placement="bottom" title="Create Entity">
            <i class="bi bi-plus"></i>
        </a>

        {% csrf_token %}
        <button type="button" class="btn btn-danger mb-1" data-toggle="tooltip" data-placement="bottom"
                title="Delete Entity" data-bs-toggle="modal" data-bs-target="#deleteModal">
            <i class="bi bi-trash"></i>
        </button>
        <button type="submit" class="btn btn-secondary mb-1" data-toggle="tooltip" data-placement="bottom"
                title="Edit Entity" name="Edit" value="Edit">
            <i class="bi bi-pen"></i>
        </button>


        {% csrf_token %}
        {% render_table table %}


        <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="deleteModalLabel">Delete Entity</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    {% csrf_token %}
                    <div class="modal-body">
                        Are you sure you want to delete this entity? If yes, please select the associations to load to
                        delete along this entity. Note that loading might take some while.

                        <div class="container">
                            {% crispy selection_form %}

                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>

                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger">Delete</button>

                    </div>
                </div>
            </div>
        </div>

    </form>
{% endblock %}
