{% extends '_base.html' %}
{% load static %}
{% load compress %}
{% load crispy_forms_tags %}


{% block title %}Create Entity from Smart Data Models {% endblock %}

{% block content %}
    <span class="h3">Create Batch Entities </span>
    {% crispy smart_data_model_form %}
    <form method="post" action="" id="jsonForm" {% if form_submitted %}class="was-validated" {% endif %}>
        <div>
            {% csrf_token %}
            {{ json_form.media }}
            {{ json_form }}
            <button class="btn btn-primary rounded-pill" type="submit">Create</button>
        </div>
    </form>

    {% compress js %}
        <script src="{% static 'js/jsoneditor.js' %}"></script>
    {% endcompress %}


{% endblock %}
