{% extends '_base.html' %}
{% load crispy_forms_tags %}


{% block title %}Create Entity from Smart Data Model Parser {% endblock %}

{% block content %}
    <form method="post" action="">
        {% crispy smart_data_model_form %}
        <button class="btn btn-warning rounded-pill" type="submit" name="load">Load Entity Form</button>
    </form>
    <form method="post" action="">
        <div>
            {% include 'accordion.html' %}
            {% if load_button %}
                <button class="btn btn-primary rounded-pill" type="submit" name="create">Create</button>
            {% endif %}
        </div>
    </form>

{% endblock %}
