{% extends '_base.html' %}
{% load crispy_forms_tags %}
{% load compress %}
{% load static %}

{% block title %}{% if update_entity %} Update Entity {% else %} Create New Entity {% endif %}{% endblock %}

{% block content %}
    <span class="h3">{% if update_entity %} Update Entity {{ update_entity }} {% else %} Create New Entity {% endif %}</span>
    {% if update_entity %}
    {% else %}
        <form method="post" action="">
            {% crispy smart_data_model_form %}
            <button class="btn btn-success bi bi-file-earmark-arrow-down rounded-pill" type="submit" name="load">Load</button>
        </form>
    {% endif %}
    <form method="post" action="">
        <div>
            {% include 'accordion.html' %}
            <button class="btn btn-warning rounded-pill" type="submit" name="submit" {% if view_only %}
                disabled {% endif %}>{% if update_entity %} Update {% else %} Create {% endif %}</button>
        </div>
    </form>

    {% compress js %}
        <script src="{% static 'js/json.js' %}"></script>
    {% endcompress %}
{% endblock %}
