{% extends '_base.html' %}

{% block title %}
    {% if action == "Create" %}
        Create Device
    {% elif action == "Edit" %}
        Edit Device
    {% endif %}
{% endblock %}

{% block content %}
    <h3 class="mt-5">{{ action }} Device</h3>

    {% if action == "Create" %}
        <form action="{% url 'projects:devices:create_submit' project.uuid %}" method="post" novalidate>
    {% elif action == "Edit" %}
        <form action="{% url 'projects:devices:edit-submit' project.uuid %}" method="post" novalidate>
    {% endif %}
        {% csrf_token %}
            {% include 'accordion.html' %}
            <button class="btn btn-primary rounded-pill" type="submit">Save</button>
        </form>

{% endblock %}
