{% extends '_base.html' %}
{% load crispy_forms_tags %}
{% load compress %}
{% load static %}

{% block title %}
    {% if action == "Create" %}
        Create Device
    {% elif action == "Edit" %}
        Edit Device
    {% elif action == "Create_Group" %}
        Create Service Group
    {% elif action == "Edit_Group" %}
        Edit Service Group
    {% endif %}
{% endblock %}

{% block content %}
    {% if action == "Create" %}
        <h3 class="mt-5">Create Device</h3>
    {% elif action == "Edit" %}
        <h3 class="mt-5">Edit Device</h3>
    {% elif action == "Create_Group" %}
        <h3 class="mt-5">Create Service Group</h3>
    {% elif action == "Edit_Group" %}
        <h3 class="mt-5">Edit Service Group</h3>
    {% endif %}

    {% if action == "Create" %}
        <form method="post" action="">
            {% crispy smart_data_model_form %}
            <button class="btn btn-success rounded-pill" type="submit" name="load">Load</button>
        </form>
        <form action="{% url 'projects:devices:create_submit' project.uuid %}" method="post" novalidate>
    {% elif action == "Edit" %}
        <form action="{% url 'projects:devices:edit_submit' project.uuid %}" method="post" novalidate>
    {% elif action == "Create_Group" %}
        <form method="post" action="">
            {% crispy smart_data_model_form %}
            <button class="btn btn-success rounded-pill" type="submit" name="load">Load</button>
        </form>
        <form action="{% url 'projects:devices:create_submit_group' project.uuid %}" method="post" novalidate>
    {% elif action == "Edit_Group" %}
        <form action="{% url 'projects:devices:edit_submit_group' project.uuid %}" method="post" novalidate>
    {% endif %}
        {% csrf_token %}
            {% include 'accordion.html' %}
            <button class="btn btn-primary rounded-pill" type="submit">Save</button>
        </form>

{% endblock %}
