{% extends '_base.html' %}

{#{% block title %}Edit Device{% endblock %}#}

{% block content %}
    <h3 class="mt-5">{{ action }} Device</h3>

    {% if action == "Create" %}
        <form action="{% url 'projects:devices:create_submit' project.uuid %}" method="post">
    {% elif action == "Edit" %}
        <form action="{% url 'projects:devices:edit-submit' project.uuid %}" method="post">
    {% endif %}
        {% csrf_token %}
            {% include 'accordion.html' %}
            <input type="submit" value="Save">
        </form>

{% endblock %}
