{% extends '_base.html' %}
{% load django_tables2 %}

{% block title %}Devices{% endblock %}


{% block content %}

<div class="d-flex">
    <span class="h3">Devices </span>
</div>

<form action="" method="GET" >
        {% csrf_token %}
     <div class="row justify-content-center">
         <div class="col-8">
            <div class="p-3 border border-light rounded-pill bg-light">
                    <div class="input-group border-0 shadow-none">
                        <input name="search-patern" type="text" class="form-control border-light rounded-pill"
                               placeholder="Filter devices ..."/>
                        <span class="input-group-btn">
                            <button class="btn btn-info btn-lg bg-light border-light" type="submit"
                                    value="search">
                                <i class="bi-search"></i>
                            </button>
                        </span>
                    </div>
            </div>
         </div>
     </div>
</form>

<form action="{% url 'projects:devices:list_submit' project.uuid %}" method="POST" >
    {% csrf_token %}
    <div>
        <button type="submit" class="btn btn-primary mb-1 ms-auto" data-toggle="tooltip" data-placement="bottom"
                title="Create Device" value="True" name="Create">
                    <i class="bi bi-plus"></i>
        </button>
        <button type="button" class="btn btn-danger mb-1" data-toggle="tooltip" data-placement="bottom"
                title="Delete Device" data-bs-toggle="modal" data-bs-target="#deleteModal">
                    <i class="bi bi-trash"></i>
        </button>
        <button type="submit" class="btn btn-secondary mb-1" data-toggle="tooltip" data-placement="bottom"
                title="Edit Device" value="True" name="Edit">
                    <i class="bi bi-pen"></i>
        </button>
     </div>

        {% render_table table %}

    <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalLabel">Delete Device</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Are you sure you want to delete this device?
                    <div class="container">
                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" id="ifDeleteEntity" name="delete_entity">
                          <label class="form-check-label" for="ifDeleteEntity">Delete the related entity</label>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-warning mb-1 text-end" data-toggle="tooltip" data-placement="bottom"
                            data-bs-toggle="modal" data-bs-target="#deleteModalAdv">Advanced
                    </button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-danger" name="Delete" value="True">
                        Delete
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="deleteModalAdv" tabindex="-1" aria-labelledby="deleteModalAdvLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalAdvLabel">Delete Device</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    If you want to delete the corresponding entity and the associated relationships or subscriptions,
                    please select them in the checkbox. Note that loading might take some while.
                    <div class="container">
                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" id="ifDeleteEntitySubscription" name="subscriptions">
                          <label class="form-check-label" for="ifDeleteEntitySubscription">Subscriptions</label>
                        </div>
                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" id="ifDeleteEntityRelationship" name="relationships">
                          <label class="form-check-label" for="ifDeleteEntityRelationship">Relationships</label>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-danger" name="AdvancedDelete" value="True">
                        Delete
                    </button>
                    <button type="button" class="btn btn-secondary mb-1" data-toggle="tooltip" data-placement="bottom"
                            data-bs-toggle="modal" data-bs-target="#deleteModal">Back
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>
{% endblock %}
