{% extends '_base.html' %}
{% block content %}

<form action="{% url 'projects:devices:create' project.uuid %}" method="get">
    <button type="submit" class="btn btn-primary" >
                Add
    </button>
</form>

<table class="table" style="width:600px">
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col">Device id</th>
      <th scope="col">Entity name</th>
      <th scope="col">Entity type</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody class="table-group-divider">
  {% for device in Devices %}
    <tr>
        <td>
          <div class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" id="deviceCheckBox{{ device.device_id }}" >
              <label for="deviceCheckBox{{ device.device_id }}"></label>
          </div>
        </td>
      <td>{{ device.device_id }}</td>
      <td>{{ device.entity_name }}</td>
      <td>{{ device.entity_type }}</td>
      <td>
          {#Edit button for every device#}
          <div class="btn-group">
          <form action="{% url 'projects:devices:edit' project.uuid %}" method="get">
              <input type="hidden" value="{{ device.device_id }}" name="device_id">
            <button type="submit" class="btn btn-primary" value="{{ device.device_id }}">
                        Edit
            </button>
          </form>
          {#Delete button for every device, change this later#}
          <form action="{% url 'projects:devices:delete' project.uuid %}" method="post">
              {% csrf_token %}
              <input type="hidden" value="{{ device.device_id }}" name="device_id">
            <button type="submit" class="btn btn-danger" value="{{ device.device_id }}">
                        Delete
            </button>
          </form>
          </div>
      </td>
    </tr>
  {% endfor %}
  </tbody>
</table>
{% endblock %}
