{% extends '_base.html' %}
{% load crispy_forms_tags %}

{% block title %}Log In{% endblock %}

{% block content %}
    <h2 class="mb-4">Login</h2>
    <div class="d-flex">
        <form method="post" class="col-12 col-xl-6">
            {% csrf_token %}
            {{ form | crispy }}
            <button type="submit" class="btn btn-primary">
                Log In
            </button>
        </form>
    </div>
    {% if local_auth_signup %}
     <p class="mt-3">
        Don't have an account? <a href="{% url 'signup' %}">Sign up</a>
    </p>
    {% endif %}
{% endblock %}
