$sidebar-offset: calc(#{ $nav-link-height} + #{$nav-link-padding-y * 2});
$sidebar-height: calc(100vh - #{ $sidebar-offset});

.sidebar {
  position: sticky;
  top: $sidebar-offset;
}

.sidebar, .sidebar-nav {
  height: $sidebar-height;
}

.sidebar-nav {
  width: 208px;

  @include media-breakpoint-down(md) {
    width: 72px;
  }

  ul {
    .nav-item {

      @include media-breakpoint-down(md) {
        font-size: 30px !important;
      }

      font-size: 24px !important;
      border-bottom-color: black !important;
      border-top-color: black !important;

      .nav-link, .dropdown {
        color: $color-sidebar;
        width: 100%;
      }

      .btn-sidebar {
        &.active {
          color: white;
        }
      }
    }

    &.nav {
      height: $sidebar-height;
    }
  }

}

.icon-red {
  color: #bb2d3b;
}

.icon-green {
  color: green;
}
