$sidebar-height: calc(100vh - #{ $nav-link-height} - #{$nav-link-padding-y * 2});
$list-group-bg: var(--bs-blue);
$sidebar-font-size: var(--bs-navbar-brand-font-size);

.sidebar-nav {
  width: 208px;
  height: #{ $sidebar-height};

  @include media-breakpoint-down(md) {
    width: 72px;
  }

  ul {
    .nav-item {

      @include media-breakpoint-down(md) {
        font-size: 30px !important;
      }

      font-size: 24px !important;
      border-bottom-color: black !important;
      border-top-color: black !important;

      .nav-link, .dropdown {
        color: #72767b;
        width: 100%;
      }

      .btn-sidebar{
        &.active {
          color: white;
        }
      }
    }
  }

}
