@import "colors";

@import "../bootstrap/scss/bootstrap";

// components
@import "sidebar";
@import "scrollbar";


h1{
  color: $primary
}

.dropdown-scrollable-checkboxes {
    @extend .dropdown-scrollable !optional;
    max-height: 150px;
    overflow-y: auto;
}

.form-check[aria-hidden="false"] {
    display: block;
}

#qr-reader {
  width: 100%;
  max-width: 400px;
  margin: auto;
}

#qr-result {
  text-align: center;
  margin-top: 10px;
  font-size: 1.1em;
  color: #555;
}
