// Required
@import "../bootstrap/scss/functions";
@import "../bootstrap/scss/variables";
@import "../bootstrap/scss/mixins";

// components
@import "sidebar";
@import "scrollbar";

.bg-grey {
  background-color: #292e34;
}

.card-header {
  .bi-power {
    color: red;
    &.active {
      color: lawngreen;
    }
  }
}

// card on hover
.card:hover{
    transform:scale(1.05);
}

// card image small
.card-img-top{
   height: 200px;
   object-fit: fill;
}
