{% load static %}
{% load compress %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" type="image/x-icon" href="{% static 'img/favicon.ico' %}">
    <title>{% block title %}Entirety{% endblock %}</title>


    {% compress css %}
        <link type="text/x-scss" href="{% static 'bootstrap/scss/bootstrap.scss' %}" rel="stylesheet" media="screen">
        <link type="text/x-scss" href="{% static 'scss/style.scss' %}" rel="stylesheet" media="screen">
    {% endcompress %}
</head>
<body>
<nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="{% static 'img/n5geh.png' %}" alt="project logo" height="24"
                 class="d-inline-block align-text-top">
            <img src="{% static 'img/fiware.gif' %}" alt="fiware" height="24"
                 class="d-inline-block align-text-top">
        </a>
    </div>
</nav>
{% include 'sidebar.html' %}
<div class="container-fluid">
    {% block content %}(no content - should not be here) {% endblock %}
</div>


<script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}" type="text/javascript"></script>
<script src="{% static 'htmx/js/htmx.min.js' %}" type="text/javascript"></script>

{% block scripts %}{% endblock %}
</body>
