{% load static %}
{% load compress %}
{% load crispy_forms_tags %}

<div class="accordion mt-3" id="accordionPanelsStayOpenExample">
    {% if basic_info is not None %}
    <div class="accordion-item">
        <h2 class="accordion-header" id="panelsStayOpen-headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse"
                    data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true"
                    aria-controls="panelsStayOpen-collapseOne">
                <i class="bi bi-info-circle me-2"></i>
                Basic Information
            </button>
        </h2>
        <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show"
             aria-labelledby="panelsStayOpen-headingOne">
            <div class="accordion-body">
                {% crispy basic_info %}
            </div>
        </div>
    </div>
    {%  endif %}
    {% if attributes is not None %}
    <div class="accordion-item">
        <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false"
                    aria-controls="panelsStayOpen-collapseTwo">
                <i class="bi bi-braces-asterisk me-2"></i>
                Attributes
            </button>
        </h2>
        <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse"
             aria-labelledby="panelsStayOpen-headingTwo">
            <div class="accordion-body">
                <div class="empty_form d-none">
                    {{ attributes.empty_form|crispy }}
                </div>
                <div class="container d-flex flex-wrap row mb-3">
                    <div class="col">
                        <button class="add-form btn btn-success rounded-pill btn-sm"><i class="bi bi-plus"></i>
                        </button>
                    </div>
                </div>
                <div class="form-container container d-flex flex-wrap row g-5">
                    {% crispy attributes attributes.form.helper %}
                </div>
            </div>
        </div>
    </div>
    {%  endif %}
    {% if commands is not None %}
        <div class="accordion-item">
        <h2 class="accordion-header" id="panelsStayOpen-headingThree">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
            <i class="bi bi-command me-2"></i>
              Commands
          </button>
        </h2>
        <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThree">
          <div class="accordion-body">
                <div class="empty_form d-none">
                    {{ commands.empty_form|crispy }}
                </div>
                <div class="container d-flex flex-wrap row mb-3">
                    <div class="col">
                        <button class="add-form btn btn-success rounded-pill btn-sm"><i class="bi bi-plus"></i>
                        </button>
                    </div>
                </div>
                <div class="form-container container d-flex flex-wrap row g-5">
                    {% crispy commands commands.form.helper %}
                </div>
          </div>
        </div>
      </div>
    {%  endif %}
    {% if subscriptions is not None %}
    <div class="accordion-item">
        <h2 class="accordion-header" id="panelsStayOpen-headingFour">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#panelsStayOpen-collapseFour" aria-expanded="false"
                    aria-controls="panelsStayOpen-collapseFour">
                <i class="bi bi-braces-asterisk me-2"></i>
                Subscriptions
            </button>
        </h2>
        <div id="panelsStayOpen-collapseFour" class="accordion-collapse collapse"
             aria-labelledby="panelsStayOpen-headingFour">
            <div class="accordion-body">
                <div class="empty_form d-none">
                    {{ subscriptions.empty_form|crispy }}
                </div>
                <div class="form-container container d-flex flex-wrap row g-5">
                    {% crispy subscriptions subscriptions.form.helper %}
                </div>
            </div>
        </div>
    </div>
    {%  endif %}
    {% if devices is not None %}
    <div class="accordion-item">
        <h2 class="accordion-header" id="panelsStayOpen-headingFive">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#panelsStayOpen-collapseFive" aria-expanded="false"
                    aria-controls="panelsStayOpen-collapseFive">
                <i class="bi bi-braces-asterisk me-2"></i>
                Devices
            </button>
        </h2>
        <div id="panelsStayOpen-collapseFive" class="accordion-collapse collapse"
             aria-labelledby="panelsStayOpen-headingFive">
            <div class="accordion-body">
                <div class="empty_form d-none">
                    {{ devices.empty_form|crispy }}
                </div>
                <div class="form-container container d-flex flex-wrap row g-5">
                    {% crispy devices devices.form.helper %}
                </div>
            </div>
        </div>
    </div>
    {%  endif %}
    {% if relationships is not None %}
    <div class="accordion-item">
        <h2 class="accordion-header" id="panelsStayOpen-headingSix">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#panelsStayOpen-collapseSix" aria-expanded="false"
                    aria-controls="panelsStayOpen-collapseSix">
                <i class="bi bi-braces-asterisk me-2"></i>
                Relationships
            </button>
        </h2>
        <div id="panelsStayOpen-collapseSix" class="accordion-collapse collapse"
             aria-labelledby="panelsStayOpen-headingSix">
            <div class="accordion-body">
                <div class="empty_form d-none">
                    {{ relationships.empty_form|crispy }}
                </div>
                <div class="form-container container d-flex flex-wrap row g-5">
                    {% crispy relationships relationships.form.helper %}
                </div>
            </div>
        </div>
    </div>
    {%  endif %}
</div>


{% compress js %}
    <script src="{% static 'js/accordion.js' %}"></script>
{% endcompress %}
