<div class="d-flex flex-column col-auto">
    <div id="sidebar" class="sidebar collapse collapse-horizontal show border-end">
        <div class="sidebar-nav bg-grey">
            <ul class="nav nav-flush flex-column flex-nowrap text-center text-md-start">
                {% if user.is_authenticated %}
                    {% if project %}
                        <li class="nav-item border-bottom d-inline-flex">
                            <a class="nav-link disabled py-md-2"
                               data-bs-toggle="tooltip" data-bs-placement="right" data-bs-custom-class="d-md-none"
                               title="{{ project }}">
                                <span class="d-none d-md-inline-flex">{{ project }}</span>
                            </a>
                        </li>
                        <li class="nav-item border-bottom d-inline-flex">
                            <a href="#" class="nav-link btn-sidebar py-md-2"
                               data-bs-toggle="tooltip" data-bs-placement="right" data-bs-custom-class="d-md-none"
                               title="Entities">
                                <i class="bi bi-server"></i>
                                <span class="d-none d-md-inline-flex">Entities</span>
                            </a>
                        </li>
                        <li class="nav-item border-bottom d-inline-flex">
                            <a href="#" class="nav-link btn-sidebar py-md-2"
                               data-bs-toggle="tooltip" data-bs-placement="right" data-bs-custom-class="d-md-none"
                               title="Devices">
                                <i class="bi bi-server"></i>
                                <span class="d-none d-md-inline-flex">Devices</span>
                            </a>
                        </li>
                        <li class="nav-item border-bottom d-inline-flex">
                            <a href="{% url "subscriptions:list" project_id=project.uuid %}"
                               class="nav-link btn-sidebar py-md-2"
                               data-bs-toggle="tooltip" data-bs-placement="right" data-bs-custom-class="d-md-none"
                               title="Alarming">
                                <i class="bi bi-alarm"></i>
                                <span class="d-none d-md-inline-flex">Alarming</span>
                            </a>
                        </li>
                    {% endif %}
                    <li class="nav-item  d-inline-flex {% if project %}mt-auto border-top{% else %} border-bottom {% endif %}">
                        <a href="{% url "projects:index" %}" class="nav-link btn-sidebar py-md-2"
                           data-bs-toggle="tooltip" data-bs-placement="right" data-bs-custom-class="d-md-none"
                           title="Projects">
                            <i class="bi {% if project %}bi-arrow-left{% else %}bi-kanban{% endif %}"></i>
                            <span class="d-none d-md-inline-flex">Projects</span>
                        </a>
                    </li>
                {% endif %}
                <li class="nav-item border-bottom d-inline-flex">
                    <a href="{% url "examples:dialog_example" %}" class="nav-link btn-sidebar py-md-2"
                       data-bs-toggle="tooltip" data-bs-placement="right" data-bs-custom-class="d-md-none"
                       title="Examples">
                        <i class="bi bi-body-text"></i>
                        <span class="d-none d-md-inline-flex">Examples</span>
                    </a>
                </li>

                <li class="nav-item border-top d-inline-flex {% if not project %} mt-auto {% endif %}d-sm-none dropend">
                    {% include "auth.html" %}
                </li>
            </ul>
        </div>
    </div>
</div>
