{% extends '_base.html' %}
{% load crispy_forms_tags %}

{% block title %}
    {% if project.name %} {{ project.name }}
    {% else %} New Project
    {% endif %}
{% endblock %}
{% block content %}

    <div class="container">
        <h2 class="my-4">{% if project.name %} Edit {{ project.name }} {% else %} Create New Project {% endif %}</h2>
        <form action="" method="post" enctype="multipart/form-data"
              {% if form_submitted %}class="was-validated" {% endif %}>
            {% csrf_token %}
            {% crispy form %}
            <div class="btn-toolbar">
                <div class="dropdown w-25">
                    <button class="btn btn-outline-secondary dropdown-toggle w-75" type="button" id="dropdownMenuButton"
                            data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="bi bi-people"></i>
                        Viewers
                    </button>
                    <div class="dropdown-menu dropdown-scrollable-checkboxes" aria-labelledby="dropdownMenuButton">
                        <div class="px-3 py-2">
                            <input type="text" class="form-control" id="viewerSearch" placeholder="Search viewers...">
                            <div id="viewerList" class="mt-2">
                                {% for viewer in form.viewers.field.queryset %}
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" name="viewers"
                                               id="viewer_{{ viewer.id }}" value="{{ viewer.id }}"
                                               {% if viewer.id in form.fields.viewers.initial %}checked{% endif %}>
                                        <label class="form-check-label" for="viewer_{{ viewer.id }}">
                                            {{ viewer.username }}
                                        </label>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="dropdown w-25">
                    <button class="btn btn-outline-secondary dropdown-toggle w-75" type="button" id="dropdownMenuButton"
                            data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="bi bi-people"></i>
                        Users
                    </button>
                    <div class="dropdown-menu dropdown-scrollable-checkboxes" aria-labelledby="dropdownMenuButton">
                        <div class="px-3 py-2">
                            <input type="text" class="form-control" id="userSearch" placeholder="Search users...">
                            <div id="userList" class="mt-2">
                                {% for user in form.users.field.queryset %}
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" name="users"
                                               id="user_{{ viewer.id }}"
                                               value="{{ user.id }}" {% if user.id in form.fields.users.initial %}checked{% endif %}>
                                        <label class="form-check-label" for="user_{{ user.id }}">
                                            {{ user.username }}
                                        </label>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="dropdown w-25">
                    <button class="btn btn-outline-secondary dropdown-toggle w-75" type="button" id="dropdownMenuButton"
                            data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="bi bi-people"></i>
                        Maintainers
                    </button>
                    <div class="dropdown-menu dropdown-scrollable-checkboxes" aria-labelledby="dropdownMenuButton">
                        <div class="px-3 py-2">
                            <input type="text" class="form-control" id="maintainerSearch" placeholder="Search maintainers...">
                            <div id="maintainerList" class="mt-2">
                                {% for maintainer in form.maintainers.field.queryset %}
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" name="maintainers"
                                               id="maintainer_{{ maintainer.id }}" value="{{ maintainer.id }}"
                                               {% if maintainer.id in form.fields.maintainers.initial %}checked{% endif %}
                                                {% if user.id in form.fields.maintainers.initial %}disabled{% endif %}>
                                        <label class="form-check-label" for="viewer_{{ maintainer.id }}">
                                            {{ maintainer.username }}
                                        </label>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <input class="btn btn-primary mt-2" name="save" value="Save" type="submit" id="submit-id-save">
        </form>
    </div>

{% endblock %}
