{% extends '_base.html' %}
{% load crispy_forms_tags %}

{% block title %}
    {% if project.name %} {{ project.name }}
    {% else %} New Project
    {% endif %}
{% endblock %}
{% block content %}

    <div class="container">
        <h2 class="my-4">{% if project.name %} Edit {{ project.name }} {% else %} Create New Project {% endif %}</h2>
        <form action="" method="post" enctype="multipart/form-data"
              {% if form_submitted %}class="was-validated" {% endif %}>
            {% csrf_token %}
            {% crispy form %}
        </form>
    </div>

{% endblock %}
