{% extends '_base.html' %}

{% block title %}Subscriptions{% endblock %}

{% block page_title %}Subscriptions{% endblock %}
{% block page_buttons %}
    <a href="{% url "projects:subscriptions:create" project_id=project.uuid %}"
       class="btn btn-primary mb-1 ms-auto" data-bs-toggle="tooltip" data-bs-placement="bottom"
       title="Create new subscription">
        <i class="bi bi-plus"></i>
    </a>
{% endblock %}

{% block content %}
    <div class="d-flex">
        {% for subscription in object_list %}
            <div class="col-6 col-xl-3">
                <div class="card">
                    <div class="card-header d-flex justify-content-center align-items-center">
                        <i class="bi bi-power h3 mb-0 {% if subscription.status == 'active' %}active{% endif %}"
                           data-bs-toggle="tooltip" data-bs-placement="bottom" title="{{ subscription.status.value }}">

                        </i>
                    </div>
                    <div class="card-body d-flex flex-column">
                        <span class="h5"> {{ subscription.name }} </span>
                        <span>{{ subscription.description }}</span>
                    </div>
                    <div class="card-footer d-flex justify-content-end align-items-center">
                        <a href="{% url "projects:subscriptions:update" project_id=project.uuid pk=subscription.uuid %}"
                           data-bs-toggle="tooltip" data-bs-placement="bottom" title="Edit {{ subscription.name }}">
                            <i class="bi bi-gear"></i>
                        </a>
                    </div>
                </div>
            </div>
        {% endfor %}

    </div>

{% endblock %}
