{% extends '_base.html' %}

{% load static %}

{% block title %}Subscriptions{% endblock %}

{% block content %}
    <div class="d-flex">
        <span class="d-flex flex-grow-1 mb-2">
            <span class="h3">Subscriptions</span>
            <a href="{% url "projects:subscriptions:create" project_id=project.uuid %}"
               class="btn btn-primary mb-1 ms-3" data-bs-toggle="tooltip" data-bs-placement="bottom"
               title="Create new subscription">
                <i class="bi bi-plus"></i>
            </a>
        </span>
    </div>


    <div class="d-flex">
        {% for subscription in object_list %}
            {% include "subscriptions/panel.html" %}
        {% endfor %}
    </div>
{% endblock %}

{% block scripts %}
{% endblock %}
