{% extends '_base.html' %}
{% load static %}
{% load compress %}

{% block title %}Smart Data Models{% endblock %}

{% block content %}
    <span class="h3">Data Models </span>
    <div class="row">
        <div class="row height d-flex justify-content-center align-items-center">
            <div class="col-md-1">
                <form action="{% url 'projects:smartdatamodels:create' project.uuid %}" method="GET">
                    <button type="submit" class="btn btn-primary mb-1 ms-auto"
                            data-bs-toggle="tooltip" data-bs-placement="bottom" title="Create Data Model"
                            {% if view_only %}
                            disabled {% endif %}>
                        <i class="bi bi-plus"></i>
                    </button>
                </form>
            </div>

            <div class="col-md-8 justify-content-center">
                <form action="">

                    <div class="justify-content-center p-3 border border-light rounded bg-light" style="width:80%;">
                        <div class="input-group border-0 shadow-none">
                            <input type="text" class="form-control rounded"
                                   placeholder="Search models by name"
                                   name="search"/>
                            <div class="input-group-append">
                                <button type="submit"
                                        class="btn btn bi-search rounded-pill bg-primary  ms-2"
                                        data-bs-toggle="tooltip"
                                        title="Start Search"
                                        value="search"
                                        id="search-button"
                                        style="color:white;">
                                    Search
                                </button>
                            </div>
                        </div>
                    </div>

                </form>

            </div>
        </div>
    </div>


    <div class="d-flex flex-row flex-wrap">
        <div class="row row-cols-1 row-cols-md-auto g-4 mt-3 mb-3">
            {% for model in smartdatamodel_list %}
                <div class="col mt-5">
                    <div class="card h-100">
                        <div class="card-header d-flex justify-content-center align-items-center">
                            <h5>{{ model.name }}
                                <i class="bi bi-filetype-json"></i>
                            </h5>
                        </div>

                        <div class="card-body">
                             <p class="d-inline-block text-secondary">Created by: {{ model.owner.first_name|add:' '|add:model.owner.last_name }}</p>
                            <br>
                             <p class="d-inline-block text-secondary">Last modified by: {{ model.last_modified_by.first_name|add:' '|add:model.last_modified_by.last_name }}</p>
                        </div>
                            <div class="ms-3 mb-3">
                                <a href="{% url 'projects:smartdatamodels:update' project.uuid model.uuid %}"
                                   class="btn btn-secondary rounded-pill btn-sm">Inspect</a>
                                <button type="button" class="btn btn-danger rounded-pill btn-sm" data-bs-toggle="modal"
                                        data-bs-target="#deleteModal" {% if view_only %} disabled {% endif %}
                                        data-bs-url={% url 'projects:smartdatamodels:delete' project.uuid model.uuid %}>
                                    Delete
                                </button>
                            </div>

                        <div class="card-footer text-muted">
                            <small>{{ model.date_modified }}</small>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalLabel">Delete Smart Data Model</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Are you sure you want to delete this smart data model?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <form action="" method="POST" class="modal-form">
                        {% csrf_token %}
                        <button class="btn btn-primary">Delete</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    {% compress css %}
        <link type="text/x-scss" href="{% static 'scss/card.scss' %}" rel="stylesheet" media="screen">
    {% endcompress %}

{% endblock %}
