backports.zoneinfo==0.2.1;python_version<"3.9"
dj_database_url==1.0.0
Django~=4.1.2
django_crispy_forms==1.14.0
django_loki==0.1.4
django_resized==1.0.2
django_tables2==2.4.1
django-pydantic-settings==0.6.3
django-compressor~=4.1
django-libsass==0.9
filip~=0.2.3
mozilla_django_oidc==2.0.0
pydantic==1.10.2
crispy-bootstrap5==0.7
pre-commit==2.20.0
psycopg2==2.9.4
Pillow==9.2.0
