asgiref==3.5.2
backports.zoneinfo==0.2.1
certifi==2022.6.15
cffi==1.15.0
cfgv==3.3.1
charset-normalizer==2.0.12
crispy-bootstrap5==0.6
cryptography==37.0.2
distlib==0.3.4
Django==4.0.5
django-appconf==1.0.5
django-compressor==4.0
django-crispy-forms==1.14.0
django-discover-runner==1.0
django-libsass==0.9
django-ninja==0.19.0
django-pydantic-settings==0.6.3
dnspython==2.2.1
email-validator==1.2.1
filelock==3.7.1
identify==2.5.1
idna==3.3
josepy==1.13.0
libsass==0.21.0
mozilla-django-oidc==2.0.0
nodeenv==1.7.0
platformdirs==2.5.2
pre-commit==2.19.0
pycparser==2.21
pydantic==1.9.1
pyOpenSSL==22.0.0
python-dotenv==0.20.0
PyYAML==6.0
rcssmin==1.1.0
requests==2.28.0
rjsmin==1.2.0
six==1.16.0
sqlparse==0.4.2
toml==0.10.2
typing_extensions==4.2.0
tzdata==2022.1
urllib3==1.26.9
virtualenv==20.15.1
